@model List<CustomView>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var custom in Model)
            {
                <tr>
                    <td>@custom.CustomId</td>
                    <td>@custom.FirstName</td>
                    <td>@custom.LastName</td>
                    <td>@custom.BorsDay</td>
                </tr>
            }
        </tbody>
    </table>
</div>